.DS_Store
node_modules/
**/node_modules/
dist/
client/dist/
server/node_modules/
.env
.env.*
.vercel/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.log
coverage/
*.tgz
*.zip
Thumbs.db
